/* Styles Sheet */

.footer	{	
	height: 50px; 
	text-align: center;
	color: rgb(201, 201, 201);
	}
.homePage{
	background: url("Photos/HomePage_Landscape.jpg") no-repeat center center fixed;
	background-size: cover;
	}
.about {
	background: url("Photos/AboutUs_Landscape.jpg") no-repeat center center fixed;
	background-size: cover;
	}

#animation {
    width: 100px;
  height: 100px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
	}
@keyframes example {
  0%   {width:200px; height: 200px}
	}
.noOverflow {
	margin: 0; height: 100%; overflow: hidden
	}
.square {
  	height: 50px;
  	width: 250px;
	border: solid green 2px;
	border-radius: 5px;
  	background-color: rgba(100, 175, 200, 0);
	text-align: center;
	margin-left: 250px;
	margin-top: 80px;
	line-height: 40px;
  	vertical-align:middle;
	float: right;
	}
/* .submitButton {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Single Day', cursive;
	color: rgb(66, 130, 116);
	border: 2px solid rgb(66, 130, 116);
	padding: 10px;
	border-radius: 8px;
	text-decoration: none;
	transition: all 0.5s ease-in-out 100ms;
	display: block;
	width: 150px;
	} */
.p-nav {
	color: white;
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient(rgba(0,0,0,0.7), transparent);
}

.p-nav-a {
	display: inline-block;
	padding: 3rem;
	color: white;
	transition: color 1s;
}

.p-nav-a:hover {
	color: rgb(163, 190, 137);
}

.p-nav svg {
	width: 2rem;
}

.p-nav .p-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.p-nav .p-logo img {
	height: 4rem;
	margin-right: 0.5rem;
}

.p-nav .p-logo h1 {
	font-size: 1.6rem;
	margin-bottom: 0;
	font-weight: normal;
}

.p-nav .p-logo p {
	font-size: 0.7rem;
	margin-bottom: 0;
}

.p-contact {
	/* background-color: rgba(0,0,0,0.5); */
	padding: 0.5rem 0;
	margin: 0 3rem;
	display: flex;
	justify-content: space-evenly;
	color: white;
	font-size: 0.8rem;
	align-items: center;
}
	
.p-contact img {
	filter: invert(1);
}